<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <head>
    <title>Tobacco</title>
  </head>
  <body>
    <div class="topnav">
  <a href="/">Home</a>
  <a href="/page1">Alcohal</a>
  <a href="/page2">Marijuana</a>
  <a class="active" href="/page3">Tobacco</a>
</div>
    
    <form action = "/year1">
      <br>
       <label for = "year">Choose a Year:</label>
       <select name="year" id="year">
        {{options}}
       </select>
       <br><br>
       <input type="submit" value = "Submit">
    </form>
    
    
    
  </body>
</html>
